.App {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 20vw
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customer-service {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customer-card {
  padding: 10px;
  margin: 15px;
  border-style: dotted;
}

.add {
  border-color: red;
}

.list {
  list-style-type: none;
}